body {
background-image: url(../images/background-cotizador.jpg);  
background-repeat: no-repeat;
background-size: cover;
}


.btn.btn-raised.btn-primary {
    background-color: #00838F!important;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#costoDelSeguro{
    margin-bottom: 5%;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
}

#gracias{
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #00838F;
    font-weight: bolder;
}

#resumenDatos{
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    color:black;
    font-size: 22px;
    font-weight: bold;
}

#costoSeguro{
    background-color:#26C6DA;
    padding: 15px;
    font-size: 22px;
    display: inline;
    color: white;
    font-weight: 600;
}

header {
    background-color:#26C6DA;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 30px;
    margin:0;
    text-align: center;
}

.form-group, .form-control, button{
    text-align: center;
}

.form-control{
    margin-top: 10px;
}

label{
    font-size: 18px;
}

.form-group{
    margin-top: 35px;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 30px;  
}

.row-contenido-formulario{
    border-radius: 20px;
}

button{
    margin-bottom: 0px;
    
}

.error {
    background-color: #FBE9E7;
    border: 1px solid #F4511E;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #F4511E;
}
.correcto {
    background-color: rgb(211, 249, 187);
    border: 1px solid rgb(50, 167, 0);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(4, 150, 50);
}
.error p {
    margin:0;
}
#contenido {
    margin-top: 60px;
    background-color: white;
    -webkit-box-shadow: 0px 21px 46px -15px rgba(0,0,0,5);
    -moz-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    width: auto;
    border-radius: 20px;
}
header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.contenido-formulario {
    margin-top: 40px;
}
#cargando {
    text-align:center;
}
#cargando img {
    display: none;
    margin: 0 auto;
}
#resultado  {
    margin-bottom: 40px;
}
#resultado div {
    border: 1px solid #26C6DA;
    text-align: center;
    padding: 0  0 20px 0;
}
#resultado div p {
    margin-bottom: 0;
}
#resultado div p.header {
    background-color: #26C6DA;
    margin-bottom: 10px;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.estilosColor{
    background-color: aquamarine;
}